<h1>Result page!</h1>
<strong>Total movies found: <%= data["Search"].length %></strong>
<% data["Search"].forEach(function(movie){ %>
    <li> <%= movie["Title"] %> - <%= movie["Year"] %> </li>
<% }); %>
<a href="/"><button>Search Again :)</button></a>